.side
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_password_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        ラクダ同好会
      .group__message
        喉乾いた
    .group
      .group__name
        コアラクラブ
      .group__message
        ユーカリ入荷しました
    .group
      .group__name
        全国狐連盟
      .group__message
        油揚げ商談会を開催します